@use '../../../../../styles/abstract/var' as var;

.c-modal-error {
  padding: 16px;
  gap: 16px;
  display: flex;
  align-content: center;
  border: 0;
  border-radius: 8px;
  background-color: var.$c-error;

  mat-icon {
    color: var.$c-on-error !important;
  }

  &__text {
    font-weight: 700;
    line-height: 140%;
    color: var.$c-on-error;
  }
}
