@use '@angular/material' as mat;
@use '../../../../styles/abstract/var' as var;

.c-spinner {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-content: center;

  @include mat.progress-spinner-overrides((
    size: 1rem,
    active-indicator-color: var.$c-primary,
  ));
}
