@use '@angular/material' as mat;
@use '../../../../styles/abstract/var' as var;

.c-spinner {
  width: 100%;
  height: 100%;
  padding: 128px 0;
  display: flex;
  justify-content: center;
  align-content: center;

  @include mat.progress-spinner-overrides((
    size: 16px,
    active-indicator-color: var.$c-primary,
  ));
}
