@use '../../../../../styles/abstract/var' as var;

.c-modal-success {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-content: center;
  border: 0;
  border-radius: 0.5rem;
  background-color: var.$c-success;

  mat-icon {
    color: var.$c-on-success !important;
  }

  &__text {
    font-weight: 700;
    line-height: 140%;
    color: var.$c-on-success;
  }
}
