$c-primary: #8A42FB;
$c-secondary: #E7D8FE;
$c-button: #F3F3F3;

$c-on-primary: #FFFFFF;
$c-on-secondary: #343434;
$c-on-button: #343434;

$c-text: #343434;
$c-text-form: #231E20;
$c-input-color: #254E7E17;
$c-text-error: rgb(250, 58, 58);
$c-text-footer: #202223;
