<app-banner></app-banner>

<main class="p-home">
  <section class="p-home__nav">
    <div class="p-home__search-bar">
      <app-search-bar></app-search-bar>
    </div>
    <div class="p-home__button-create">
      <app-button-create></app-button-create>
    </div>
  </section>

  <section class="p-home__title">
    <h2>Héroes más allá de la imaginación</h2>
    <p>
      Desde tiempos inmemoriales, la humanidad ha soñado con figuras extraordinarias capaces de
      desafiar los límites de la realidad.
    </p>
  </section>

  <section-cards></section-cards>
</main>

<section-footer></section-footer>
