@use 'abstract/variables' as var;

.p-home {
  max-width: 1344px;
  padding: var.$s-0 var.$s-xs;
  margin: var.$s-xxl auto;
  gap: var.$gap-xl;
  display: flex;
  flex-direction: column;

  &__nav {
    position: relative;
    display: flex;
    justify-content: center;

    @media (max-width: var.$bp-tablet) {
      flex-direction: column;
      gap: var.$gap-l;
    }
  }

  &__search-bar {
    width: 55%;
    margin: var.$s-0 auto;

    @media (max-width: var.$bp-tablet) {
      width: 85%;
    }
  }

  &__button-create {
    position: absolute;
    top: 1.25rem;
    right: 2rem;

    @media (max-width: var.$bp-tablet) {
      position: relative;
      display: flex;
      justify-content: center;
      right: 0;
    }
  }

  &__title {
    max-width: 41.25rem;
    margin: var.$s-0 auto;
    gap: var.$gap-m;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2,
    p {
      line-height: var.$lh-m;
      font-weight: var.$fw-regular;
    }

    h2 {
      font-size: var.$fs-xl;
      color: var.$c-primary;
    }

    p {
      font-size: var.$fs-m;
      color: var.$c-text;
    }
  }
}
