@use '../../../styles/abstract/var' as var;

.p-home {
  max-width: 1344px;
  padding: 0 0.625rem;
  margin: 2rem auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;

  &__nav {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__search-bar {
    width: 55%;
    margin: 0 auto;
  }

  &__button-create {
    position: absolute;
    top: 1.25rem;
    right: 2rem;
  }

  &__title {
    max-width: 41.25rem;
    margin: 0 auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2,
    p {
      line-height: 120%;
      font-weight: 400;
    }

    h2 {
      font-size: 1.9375rem;
      color: var.$c-primary;
    }

    p {
      font-size: 1rem;
      color: var.$c-text;
    }
  }
}

@media (max-width: 1180px) {
  .p-home {
    &__nav {
      flex-direction: column;
      gap: 1.5rem;
    }

    &__search-bar {
      width: 85%;
    }

    &__button-create {
      position: relative;
      display: flex;
      justify-content: center;
      right: 0;
    }
  }
}
