<main class="p-home">
  <section class="p-home__header">
    <app-banner></app-banner>
  </section>

  <section class="p-home__main">
    <div class="p-home__content">
      <div class="p-home__nav">
        <div class="p-home__search-bar">
          <app-search-bar></app-search-bar>
        </div>
        <div class="p-home__create-button">
          <app-button-create></app-button-create>
        </div>
      </div>

      <div class="p-home__list">
        <section class="p-home__list-title">
          <h2>Héroes más allá de la imaginación</h2>
          <p>Desde tiempos inmemoriales, la humanidad ha soñado con figuras
            extraordinarias capaces de desafiar los límites de la realidad.</p>
        </section>
        <div class="p-home__list-cards">
          <section-cards></section-cards>
        </div>
        <div class="p-home__list-button-more">
          <app-button-more></app-button-more>
        </div>
      </div>
    </div>
  </section>
</main>
