.p-home {
  width: 100%;
}

.p-home__header {
  width: 100%;
}

.p-home__main {
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
}

.p-home__search-bar {
  width: 100%;
  margin: 0 auto;
}

.p-home__list-cards {
  width: 100%;
}
