@use 'abstract/variables' as var;

.c-error-message {
  width: 90%;
  margin: var.$s-xl auto;
  padding: var.$s-s var.$s-m;
  gap: var.$gap-xs;
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid var.$c-error;
  border-radius: var.$r-s;
  background: var.$c-error;
  color: var.$c-on-error;

  &__title {
    font-size: var.$fs-s;
    font-weight: var.$fw-medium;
    line-height: var.$lh-m;
  }

  &__text {
    font-size: var.$fs-s;
    line-height: var.$lh-m;
  }
}
