@use 'abstract/var' as var;
@use 'abstract/mixin' as mixin;

.c-button {
  display: inline-block;
  width: 135px;
  height: 40px;
  padding: 0 8px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    scale: 1.1;
  }

  mat-icon {
    color: var.$c-on-primary;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
  }

  &--primary {
    @include mixin.button-primary;
  }

  &--secondary {
    @include mixin.button-secondary;
  }

  &--create {
    @include mixin.button-create;
  }

  &--search {
    @include mixin.button-search;
  }

  &[disabled],
  &:disabled {
    background-color: var.$c-disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
