@use 'abstract/variables' as var;
@use 'abstract/mixins' as mix;

.c-button {
  padding: 0.75rem 2rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    scale: 1.1;
  }

  mat-icon {
    color: var.$c-on-primary;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
  }

  $decorators: primary, secondary, search;

  @each $type in $decorators {
    &--#{$type} {
      @include mix.button($type);
    }
  }

  &[disabled],
  &:disabled {
    background-color: var.$c-disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
