.c-banner {
  position: relative;
  height: 30rem;
  background-image: url('../../../../assets/banner-img.png');
  background-position: center;
  object-fit: cover;

  &__logo {
    position: absolute;
    top: 4.0625rem;
    left: 2.5rem;
  }
}
