<form class="c-hero-form" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <div class="c-hero-form__close" (click)="closeModal()">
    <mat-icon fontIcon="close"></mat-icon>
  </div>

  <h1 class="c-hero-form__title">Crear nuevo héroe</h1>

  <div class="c-hero-form__rows">
    @for (section of formFieldSections; track section) {
      @if (section.layout === 'row-2') {
        <div class="c-hero-form__row-2">
          @for (field of section.fields; track field.label) {
            <app-form-field [field]="field" />
          }
        </div>
      }

      @if (section.layout === 'row-1') {
        @for (field of section.fields; track field.label) {
          <app-form-field [field]="field" />
        }
      }
    }
  </div>

  <div class="c-hero-form__submit">
    <mat-checkbox formControlName="termsAndConditions">
      Acepto los <u>Términos y condiciones</u>*
    </mat-checkbox>

    <app-button [button]="submitButton()" />
  </div>
</form>
