@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.snack-bar-overrides((
    container-color: transparent,
  ));
}
.mat-mdc-snack-bar-container:not([mat-exit]) .mat-mdc-snackbar-surface {
  box-shadow: none;
}
