<section class="s-footer">
  <div class="s-footer__content">
    <div class="s-footer__copyright">
      <p class="s-footer__copyright-text">© 2025 SUPERHEROCRUD, Inc</p>
    </div>

    <div class="s-footer__social-media">
      <ul class="s-footer__social-media-icons">
        <li class="s-footer__social-media-icon"><img src="social-media-icons/instagram.svg" alt="Instagram icon"></li>
        <li class="s-footer__social-media-icon"><img src="social-media-icons/youtube.svg" alt="Youtube icon"></li>
        <li class="s-footer__social-media-icon"><img src="social-media-icons/linkedin.svg" alt="Linkedin icon"></li>
        <li class="s-footer__social-media-icon"><img src="social-media-icons/facebook.svg" alt="Facebook icon"></li>
        <li class="s-footer__social-media-icon"><img src="social-media-icons/x.svg" alt="X icon"></li>
      </ul>
    </div>
  </div>
</section>
