<section class="s-footer">
  <div class="s-footer__content">
    <div class="s-footer__copyright">
      <p class="s-footer__copyright-text">© 2025 SUPERHEROCRUD, Inc</p>
    </div>

    <div class="s-footer__social-media">
      <ul class="s-footer__social-media-icons">
        <li class="s-footer__social-media-icon">
          <a href="#">
            <img src="social-media-icons/instagram.svg" alt="Instagram icon" />
          </a>
        </li>
        <li class="s-footer__social-media-icon">
          <a href="#">
            <img src="social-media-icons/youtube.svg" alt="Youtube icon" />
          </a>
        </li>
        <li class="s-footer__social-media-icon">
          <a href="#">
            <img src="social-media-icons/linkedin.svg" alt="Linkedin icon" />
          </a>
        </li>
        <li class="s-footer__social-media-icon">
          <a href="#">
            <img src="social-media-icons/facebook.svg" alt="Facebook icon" />
          </a>
        </li>
        <li class="s-footer__social-media-icon">
          <a href="#">
            <img src="social-media-icons/x.svg" alt="X icon" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
