@use '../../../styles/abstract/var' as var;

.s-footer {
  max-width: 1344px;
  margin: 0 auto;
  padding: 3.125rem 1rem;
  border-top: 0.0625rem solid #0000001a;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copyright {
    text-align: center;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 0.75rem;
    color: var.$c-text-footer;
  }

  &__social-media {
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__social-media-icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: scale ease-in-out .3s;

    &:hover {
      scale: 1.1;
    }
  }
}

@media (max-width: var.$bp-tablet) {
  .s-footer {
    flex-direction: column;
    gap: 1.5rem;
  }
}
