@use '@angular/material' as mat;
@use 'abstract/variables' as var;

.c-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__label {
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 0.5625rem;
    letter-spacing: 2%;
  }

  &__input {
    width: 100%;

    @include mat.form-field-overrides(
      (
        container-height: 3.5rem,
        filled-container-color: var.$c-text-input,
        outlined-outline-width: 0,
      )
    );

    ::ng-deep .mdc-line-ripple {
      display: none;
      background-color: red;
    }
  }

  mat-error {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.0313rem;
    margin-bottom: 1rem;
    color: var.$c-text-error;
  }

  &__files {
    width: 100%;
    margin: 1.25rem 0;
  }

  &__files::file-selector-button {
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
    padding: 0 1rem;
    margin-right: 1rem;
    background-color: var.$c-secondary;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      background-color: var.$c-secondary-hover;
    }
  }
}

@media (max-width: var.$bp-tablet) {
  .c-form-field {
    &__files::file-selector-button {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
