@use '@angular/material' as mat;
@use '../../../../../styles/abstract/var' as var;

.c-create-hero-form {
  width: 58.5rem;
  height: 39rem;
  padding: 1.25rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;

    &:hover {
      scale: 1.3;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 120%;
    text-align: center;
    color: var.$c-text-form;
  }

  &__rows {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__row-2 {
    gap: 1.5rem;
    display: flex;
  }

  &__row-2-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__label {
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 0.5625rem;
    letter-spacing: 2%;
  }

  &__input {
    width: 100%;

    @include mat.form-field-overrides(
      (
        container-height: 3.5rem,
        filled-container-color: var.$c-text-input,
        outlined-outline-width: 0,
      )
    );

    ::ng-deep .mdc-line-ripple {
      display: none;
    }
  }

  &__error {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.0313rem;
    margin-bottom: 0.5rem;
    color: var.$c-text-error;
  }

  &__files {
    width: 100%;
    margin: 1.25rem 0;
  }

  &__files::file-selector-button {
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
    padding: 0 1rem;
    margin-right: 1rem;
    background-color: var.$c-secondary;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      background-color: var.$c-secondary-hover;
    }
  }

  &__submit {
    width: 100%;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: var.$bp-tablet) {
  .c-create-hero-form {
    width: 100%;
    height: 100%;
    gap: 1.5rem;

    &__rows {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__row-2 {
      flex-direction: column;
      gap: 0.5rem;
    }

    &__files::file-selector-button {
      display: block;
      margin-bottom: 1rem;
    }

    &__submit {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
