<form class="c-create-hero-form" [formGroup]="createHeroForm" (ngSubmit)="onSubmit()">
  <div class="c-create-hero-form__close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </div>

  <h1 class="c-create-hero-form__title">Crear nuevo héroe</h1>

  <!-- Name -->
  <div class="c-create-hero-form__rows">
    <div class="c-create-hero-form__row-2">
      <app-form-field
      class="c-create-hero-form__field"
        [control]="nameControl"
        label="Nombre"
        placeholder="Nombre"
        type="text"
      ></app-form-field>

      <!-- Superpower -->
      <app-form-field
        class="c-create-hero-form__field"
        [control]="superpowerControl"
        label="Superpoder"
        placeholder="Superpoder"
        type="text"
      ></app-form-field>
    </div>

    <!-- City -->
    <app-form-field
      [control]="cityControl"
      label="Ciudad"
      placeholder="Ciudad"
      type="text"
    ></app-form-field>

    <!-- Description -->
    <app-form-field
      [control]="descriptionControl"
      label="Descripción"
      placeholder="Descripción"
      type="textarea"
    ></app-form-field>

    <!-- Image -->
    <app-form-field
      [control]="imageControl"
      label="Elige una imagen"
      type="img"
    ></app-form-field>
  </div>

  <div class="c-create-hero-form__submit">
    <!-- Terms and conditions -->
    <mat-checkbox formControlName="termsAndConditions">
      Acepto los <u>Términos y condiciones</u>*
    </mat-checkbox>

    <!-- Submit -->
    <app-button-primary-form
      message="Crear héroe"
      [disabled]="createHeroForm.invalid"
    ></app-button-primary-form>
  </div>
</form>
