<form class="c-edit-hero-form" [formGroup]="editHeroForm" (ngSubmit)="onSubmit()">
  <section class="c-edit-hero-form__title-section">
    <h1 class="c-edit-hero-form__title-text">Editar héroe</h1>
  </section>

  <section class="c-edit-hero-form__fields-section">
    <div class="c-edit-hero-form__row-2">
      <div class="c-edit-hero-form__row-content">
        <span class="c-edit-hero-form__label">Nombre</span>
        <mat-form-field class="c-edit-hero-form__input" appearance="fill">
          <input matInput formControlName="name" placeholder="Nombre" />
        </mat-form-field>
        @if (editHeroForm.get('name')?.invalid && editHeroForm.get('name')?.touched) {
          <span class="c-edit-hero-form__input-error">
            @if (editHeroForm.get('name')?.errors?.['required']) {
              El nombre es obligatorio.
            }
            @if (editHeroForm.get('name')?.errors?.['minlength']) {
              El nombre debe tener mínimo 3 carácteres.
            }
            @if (editHeroForm.get('name')?.errors?.['maxlength']) {
              El nombre puede tener máximo 32 carácteres
            }
          </span>
        }
      </div>

      <div class="c-edit-hero-form__row-content">
        <span class="c-edit-hero-form__label">Superpoder</span>
        <mat-form-field class="c-edit-hero-form__input" appearance="fill">
          <input matInput formControlName="superpower" placeholder="Superpoder" />
        </mat-form-field>
        @if (
          editHeroForm.get('superpower')?.invalid && editHeroForm.get('superpower')?.touched
        ) {
          <span class="c-edit-hero-form__input-error">
            @if (editHeroForm.get('superpower')?.errors?.['required']) {
              El superpoder es obligatorio.
            }
            @if (editHeroForm.get('superpower')?.errors?.['minlength']) {
              El superpoder debe tener mínimo 8 carácteres.
            }
            @if (editHeroForm.get('superpower')?.errors?.['maxlength']) {
              El superpoder puede tener máximo 64 carácteres
            }
          </span>
        }
      </div>
    </div>

    <div class="c-edit-hero-form__row-1">
      <div class="c-edit-hero-form__row-content">
        <span class="c-edit-hero-form__label">Ciudad</span>
        <mat-form-field class="c-edit-hero-form__input" appearance="fill">
          <input matInput formControlName="city" placeholder="Ciudad" />
        </mat-form-field>
        @if (editHeroForm.get('city')?.invalid && editHeroForm.get('city')?.touched) {
          <span class="c-edit-hero-form__input-error">
            @if (editHeroForm.get('city')?.errors?.['required']) {
              La ciudad es obligatoria.
            }
            @if (editHeroForm.get('city')?.errors?.['minlength']) {
              La ciudad debe tener mínimo 3 carácteres.
            }
            @if (editHeroForm.get('city')?.errors?.['maxlength']) {
              La ciudad puede tener máximo 32 carácteres
            }
          </span>
        }
      </div>
    </div>

    <div class="c-edit-hero-form__row-1">
      <div class="c-edit-hero-form__row-content">
        <span class="c-edit-hero-form__label">Descripción</span>
        <mat-form-field class="c-edit-hero-form__input" appearance="fill">
          <textarea
            matInput
            rows="3"
            formControlName="description"
            placeholder="Descripción"
          ></textarea>
        </mat-form-field>
        @if (
          editHeroForm.get('description')?.invalid && editHeroForm.get('description')?.touched
        ) {
          <span class="c-edit-hero-form__input-error">
            @if (editHeroForm.get('description')?.errors?.['required']) {
              La descripción es obligatoria.
            }
            @if (editHeroForm.get('description')?.errors?.['minlength']) {
              La descripción debe tener mínimo 12 carácteres.
            }
            @if (editHeroForm.get('description')?.errors?.['maxlength']) {
              La descripción puede tener máximo 128 carácteres
            }
          </span>
        }
      </div>
    </div>

    <div class="c-edit-hero-form__row-1">
      <span class="c-edit-hero-form__label">Elige una imagen</span>

      <div class="c-edit-hero-form__files">
        <input type="file" class="c-edit-hero-form__files-button" (change)="onFileSelected($event)" />
      </div>

      @if (editHeroForm.get('image')?.invalid && editHeroForm.get('image')?.touched) {
        <span class="c-edit-hero-form__input-error">
          @if (editHeroForm.get('image')?.errors?.['required']) {
            La imagen es obligatoria.
          }
        </span>
      }
    </div>
  </section>

  <section class="c-edit-hero-form__submit-section">
    <div class="c-edit-hero-form__submit-content">
      <div class="c-edit-hero-form__checkbox">
        <mat-checkbox formControlName="termsAndConditions"> Acepto los <u>Términos y condiciones</u> </mat-checkbox>
      </div>

      <div class="c-edit-hero-form__submit-button">
        <app-button-primary-form [message]="'Guardar cambios'" [disabled]="editHeroForm.invalid"></app-button-primary-form>
      </div>
    </div>
  </section>
</form>
