@use '../../../../sass/var' as var;

.c-button {
  display: inline-block;
  width: 135px;
  height: 40px;
  padding: 0 8px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  transition: scale ease-in-out 0.3s;

  &:hover {
    scale: 1.1;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
  }

  // Modificators
  &--primary {
    background-color: var.$c-primary;

    p {
      color: var.$c-on-primary;
    }
  }

  &--secondary {
    background-color: var.$c-button;

    p {
      color: var.$c-on-button;
    }
  }

  &--create {
    width: auto;
    height: 56px;
    padding: 0 16px;
    background-color: var.$c-primary;

    mat-icon {
      color: var.$c-on-primary;
    }

    p {
      color: var.$c-on-primary;
    }
  }

  &--edit {
    background-color: var.$c-primary;

    mat-icon {
      color: var.$c-on-primary;
    }

    p {
      color: var.$c-on-primary;
    }
  }

  &--search {
    width: 72px;
    height: 72px;
    padding: 0;
    background-color: var.$c-primary;
    border-radius: 100px;

    mat-icon {
      color: var.$c-on-primary;
    }
  }

  &--primary-form {
    width: 100%;
    padding: 0 16px;
    background-color: var.$c-primary;

    p {
      color: var.$c-on-primary;
    }
  }

  &[disabled],
  &:disabled {
    background-color: var.$c-disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
