@use 'abstract/variables' as var;

.c-modal-delete {
  width: 43.9375rem;
  min-height: 16.6875rem;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var.$c-text;

  @media (max-width: var.$bp-tablet) {
    width: 100%;
  }

  &__title {
    text-align: center;
    font-weight: var.$fw-medium;
    font-size: var.$fs-l;
    line-height: var.$lh-m;
  }

  &__body {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1.5rem 1.5rem;
    gap: var.$gap-m;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;

    mat-icon {
      color: var.$c-text-warning;
    }
  }

  &__message {
    gap: var.$gap-xs;
    display: flex;
    flex-direction: column;
  }

  &__message-text {
    &--bold {
      font-weight: var.$fw-bold;
      font-size: var.$fs-l;
    }
  }

  &__buttons {
    width: 95%;
    gap: var.$gap-l;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: var.$bp-mobile) {
      flex-direction: column;
      align-items: center;
    }
  }
}
