<article class="c-modal-delete">
  <h2 class="c-modal-delete__title">Eliminar héroe</h2>
  <div class="c-modal-delete__body">
    <span class="c-modal-delete__icon">
      <mat-icon>warning</mat-icon>
    </span>
    <div class="c-modal-delete__message">
      <p class="c-modal-delete__message-text c-modal-delete__message-text--bold">
        ¿Estás seguro de querer eliminar este héroe?
      </p>
      <p class="c-modal-delete__message-text">Una vez eliminado no podrás revertir esta acción</p>
    </div>
  </div>
  <div class="c-modal-delete__buttons">
    <app-button-secondary
      [message]="'Cancelar'"
      (click)="closeConfirmDeleteModal()"
    ></app-button-secondary>
    <app-button-primary
      [message]="'Sí, eliminar'"
      (click)="deleteHero()"
    ></app-button-primary>
  </div>
</article>
