<article class="c-modal-delete">
  <h2 class="c-modal-delete__title">Eliminar héroe</h2>
  <div class="c-modal-delete__body">
    <span class="c-modal-delete__icon">
      <mat-icon fontIcon="warning"></mat-icon>
    </span>
    <div class="c-modal-delete__message">
      <p class="c-modal-delete__message-text c-modal-delete__message-text--bold">
        ¿Estás seguro de querer eliminar este héroe?
      </p>
      <p class="c-modal-delete__message-text">Una vez eliminado no podrás revertir esta acción</p>
    </div>
  </div>
  <div class="c-modal-delete__buttons">
    <app-button (click)="closeConfirmDeleteModal()" class="c-button--secondary">Cancelar</app-button>
    <app-button (click)="deleteHero()" class="c-button--primary">Sí, eliminar</app-button>
  </div>
</article>
