<form class="c-create-hero-form" action="">
  <section class="c-create-hero-form__title-section">
    <h1 class="c-create-hero-form__title-text"></h1>
  </section>

  <section class="c-create-hero-form__fields-section">
    <div class="c-create-hero-form__row-2">
      <div>
        <span class="c-create-hero-form__label">Nombre</span>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div>
        <span class="c-create-hero-form__label">>Superpoder</span>
        <mat-form-field appearance="fill">
          <mat-label>Superpoder</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>

    <div class="c-create-hero-form__row-1">
      <div>
        <span class="c-create-hero-form__label"></span>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Descripción" rows="3"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="c-create-hero-form__row-1">
      <span class="c-create-hero-form__label">Elige una imagen</span>

      <div class="c-create-hero-form__files">
        <button>Seleccionar archivo</button>
        <span class="c-create-hero-form__files-text">Sin archivos seleccionados</span>
      </div>
    </div>
  </section>

  <section class="c-create-hero-form__submit-section">
    <div class="c-create-hero-form__submit-content">
      <div class="c-create-hero-form__checkbox">
        <mat-checkbox> Acepto los Términos y condiciones </mat-checkbox>
      </div>

      <div class="c-create-hero-form__submit-button">
        <button></button>
      </div>
    </div>
  </section>
</form>
