@if (loading()) {
  <app-spinner></app-spinner>
} @else if (error()) {
  <app-error-message>Error al conectar con el servidor. Por favor, pruebe más tarde.</app-error-message>
} @else {
  <section class="s-list-hero">
    <ul class="s-list-hero__cards">
      <!-- Heroes by name -->
      @if (!!heroesFiltered().length) {
        @for (hero of heroesFiltered(); track hero.id) {
          <li class="s-list-hero__card">
            <app-card-hero (modified)="refresh()" [hero]="hero"></app-card-hero>
          </li>
        }

        <!-- All heroes -->
      } @else if (!!heroes().length) {
        @for (hero of heroes(); track hero.id) {
          <li class="s-list-hero__card">
            <app-card-hero (modified)="refresh()" [hero]="hero"></app-card-hero>
          </li>
        }
      }
    </ul>
    <app-button (pressed)="getHeroesPaginated()" customClass="c-button--primary" [disabled]="!nextPage()">Ver más</app-button>
  </section>
}
