.s-list-hero {
  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
    justify-items: center;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px auto;
  }
}
