@use 'abstract/variables' as var;

.s-list-hero {
  margin: var.$s-xs var.$s-0;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: var.$gap-xxl;

  &__cards {
    gap: var.$gap-l;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19.875rem, 1fr));
    justify-items: center;
  }

  app-button {
    margin: var.$s-0 auto;
  }
}
