@if (loading()) {
  <app-spinner></app-spinner>
} @else if (error()) {
  <app-error-message message="Error al conectar con el servidor. Por favor, pruebe más tarde."></app-error-message>
} @else {
  <div class="s-list-hero">
    <ul class="s-list-hero__cards">
      
      <!-- Heroes by name -->
      @if (heroesFiltered()) {
        @for (hero of heroesFiltered(); track hero.id) {
          <app-card-hero [hero]="hero"></app-card-hero>
        }

      <!-- All heroes -->
      } @else if (heroes()) {
        @for (hero of heroes(); track hero.id) {
          <app-card-hero [hero]="hero"></app-card-hero>
        }
      }
    </ul>
    <div class="s-list-hero__button">
      <app-button-primary
        [disabled]="!morePages()"
        [message]="'Ver más'"
        (click)="nextPage()"
      ></app-button-primary>
    </div>
  </div>
}
