<article class="c-card-hero">
   <figure class="c-card-hero__img">
     <img src="{{hero?.image}}" alt="Image of {{hero?.name}}">
   </figure>

  <div class="c-card-hero__info">
      <h2 class="c-card-hero__name">{{formatterService.firstCharPerWordToUpperCase(hero?.name)}}</h2>
      <p class="c-card-hero__superpower">{{formatterService.firstCharToUpperCase(hero?.superpower)}}</p>
      <p class="c-card-hero__description">{{formatterService.firstCharToUpperCase(hero?.description)}}</p>
      <p class="c-card-hero__city">{{formatterService.firstCharToUpperCase(hero?.city)}}</p>
      <div class="c-card-hero__buttons">
        <app-button-edit (click)="OpenFormHeroEdit()"></app-button-edit>
        <app-button-secondary [message]="'Eliminar'" (click)="OpenConfirmDeleteModal()"></app-button-secondary>
      </div>
  </div>
</article>
