@use 'abstract/variables' as var;

.c-card-hero {
  box-shadow: 0 0.625rem 2.5rem 0 rgba(0, 0, 0, 0.1);
  color: var.$c-text;

  &__img {
    height: 14.875rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__info {
    padding: 1rem;
    gap: var.$gap-m;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: var.$fs-l;
    font-weight: var.$fw-medium;
    line-height: var.$lh-m;
  }

  &__superpower {
    font-weight: var.$fw-bold;
    line-height: var.$lh-l;
  }

  &__description {
    font-size: var.$fs-s;
    line-height: var.$lh-m;
  }

  &__city {
    line-height: var.$lh-m;
  }

  &__buttons {
    gap: var.$gap-m;
    display: flex;
  }
}
