@use 'abstract/var' as var;

.c-modal {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-content: center;
  border: 0;
  border-radius: 0.5rem;

  p {
    font-weight: 700;
    line-height: 140%;
  }

  &--success {
    background-color: var.$c-success;

    mat-icon {
      color: var.$c-on-success;
    }

    p {
      color: var.$c-on-success;
    }
  }

  &--error {
    background-color: var.$c-error;

    mat-icon {
      color: var.$c-on-error;
    }

    p {
      color: var.$c-on-error;
    }
  }
}
